
  body, html {
    background-color: rgb(247, 229, 231);
    font-family: libre baskerville;    
    height: 100%;
    margin: 0 auto; 
  }
  
  
  .container {
      background-image: url("cloudy.png");
      height: 100%;  
      max-width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }
  .head {  
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  .black {
      position: sticky;
      top: 1vw;
      z-index: 1;
      background-color: rgb(248, 215, 219);
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      /* border-bottom: 5px solid rgb(5, 139, 139); */
      border-bottom: 10px double white;
      max-width: 100%;
      height: 220px;
      color: white;
      text-shadow: 0 0 8px #c545ba, 0 0 5px #6a6adb;
  }
  .black li {
      font-size: 2vw;
      font-weight: 800;
  }
  
  .black ul {
      margin-top: 50px;
      margin-right: 115px;
  }
  .black a:hover {
    color: rgb(85, 79, 79);
  }
  a {    
      font-size: 60px;
      color: white;
      text-decoration: none;
  }


  .spicy {  
    position: relative;
    left: 10px;
    top: 20px;
    margin-bottom: 100px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: rgb(247, 229, 231);
    border: 2px solid hotpink ;
    color: hotpink;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
   }
   .spicy h4 {
     font-size: 15px;
   }
   .sweet h4 {
    font-size: 15px;
  }
 
  .sweet {  
    position: relative;
    left: -70px;
    top: 100px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: rgb(247, 229, 231);
    border: 2px solid hotpink ;
    color: hotpink;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }
  .fab {
    margin-top: -40px;
  }
  
    .boxes {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      margin: 100px auto;
      transition: background-colour border;  
  }
  .about {
      display: flex;
      justify-content: center;
      text-align: center;
      background-color:rgb(240, 233, 233);
      position: relative;
      width: 500px;
      height: 400px;
      border: 5px solid rgb(202, 184, 184);
      color: rgb(85, 79, 79);
      margin-bottom: 75px;
      margin-top: -150px;
      padding-top: 30px;
      border-radius: 100%;
  }
  .boxP {
      position: absolute;
      margin-top: 50px;
      padding: 20px 20px;
  }
  .about:hover {
      /* background-color: rgba(255, 255, 255, 0.658); */
      background-color: rgb(248, 215, 219);
      color: rgb(85, 79, 79);
      border: 9px solid rgb(173, 140, 140);
      transition-duration: 1s ;
  }
  .skills {
      display: flex;
      justify-content: center;
      text-align: center;
      background-color:rgb(240, 233, 233);
      position: relative;
      width: 500px;
      height: 400px;
      border: 5px solid rgb(202, 184, 184);
      color: rgb(85, 79, 79);
      margin-bottom: 75px;
      padding-top: 70px;
      border-radius: 100%;
  }
  .skills:hover {
    background-color: rgb(248, 215, 219);
    color: rgb(85, 79, 79);
    border: 9px solid rgb(173, 140, 140);
    transition-duration: 1s ;
  }
  .cv {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      background-color:rgb(240, 233, 233);
      position: relative;
      width: 710px;
      height: 700px;
      border: 5px solid rgb(202, 184, 184);
      color: rgb(85, 79, 79);
      padding-top: 110px;
      border-radius: 100%;
  }
  .cv:hover {
    background-color: rgb(248, 215, 219);
    color: rgb(85, 79, 79);
    border: 9px solid rgb(173, 140, 140);
    transition-duration: 1s ;
  }
  .projects {
    margin-top: -90px;
    margin-bottom: 20px;
  }
  .fas {
    margin-top: -50px;
  }
  .fas:hover {
    color: rgb(85, 79, 79);
  }
  
  .far {
    margin-top: -50px;
  }
  .far:hover {
    color: rgb(85, 79, 79);
  }
  .textCar {
    padding-left: 5px ;
  }
  
  
  .list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 1000px;
      margin-top: 200px;
      margin-bottom: 100px;
      color: rgb(109, 100, 100);
  }
  ul {
      display: flex;
      list-style-type: none;
      margin-top: 10px;
      padding: 15px;
    } 
    ul a {
      color: rgb(85, 79, 79);
    }
    .faves {
      color: rgb(109, 100, 100);
      text-decoration: none;
      margin-top: 15px;
      font-size: 50px;
      transition: font-size;
      padding: 30px;
    }
    .faves:hover {
      color: rgb(85, 79, 79);
      font-size: 60px;
      transition-duration: 1000ms;
    }
    /* .goldLine {
      background-image: url(gold.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 500px;
      position: relative;
      margin-left: 50px;
      margin-top: -800px;
      z-index: -1;
     
    }
    .goldLine2 {
      background-image: url(gold.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 500px;
      position: relative;
      margin-left: 600px;
      margin-top: -800px;
      z-index: -1;
    } */
    /* .goldLines {
        display: flex;
        position: relative;
    } */
    .foot {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid rgb(109, 100, 100);
      width: 100%;
      color: rgb(109, 100, 100);
      bottom: 100px;
    }
    .foot a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 50px;
        color: rgb(109, 100, 100);
        margin-top: 5px;
    }
  
    
  
  
  
  
  
  
  
    
  
      .slideshow-container {
      position: relative;
      background: white;
    }
    
    .mySlides {
      display: none;
      padding: 30px;
      text-align: center;
      color: #D49F37;
      font-size: 3vw;
    }
    
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -30px;
      padding: 16px;
      color: #D49F37;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    .next {
      position: absolute;
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
      color: black;
    }
    
    .dot-container {
        text-align: center;
        padding: 10px;
        background: rgba(255, 255, 255, 0.342);
        margin-bottom: 40px;
    }
    
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #D49F37;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #cfab6181;
    }
    
    q {font-style: italic;}
    
    .author {color: #e4c27e;}
  
  
  
  
  
    @media (max-width: 576px) {
      .black {
        height: 270px;
      }
      .black ul {
        margin-top: 80px;
      }
      .black li {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
       }
       .black a {
         padding-bottom: 60px;
         padding-right: 10px;
       }
    }
  
    @media (min-width: 575px) {
      .black {
        height: 250px;
      }
      .black ul {
        margin-top: 120px;
        margin-bottom: 40px;
      }
      .black li {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
      .black a {
        padding-bottom: 60px;
      }
    }
  
    @media (max-width: 767px){
      .black a {
        margin-top: 1px;
        padding-bottom: 70px;
        padding-right: 10px;
      }
    }
  
    @media (min-width: 768px){
      .black ul {
        margin-top: 70px;
      }
      .black a {
        padding-top: 40px;
        padding-right: 10px;
      }
    }
    